body{
    background: black;
    color: #ff9900;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin:24px;
}

h1{
    color: #ff5a09;
    font-size: 22px; 
}

.boton{
    background: #FF5A09;
    color: #FFF;
    border: none;
    padding: 4px 10px;
}